html, body {
  font-family: 'Open Sans', sans-serif;
}
.font-libre {
  font-family: 'Libre Baskerville', serif;
}
.text-italic {
  font-style: italic;
}
.avatar-list {
  width: 85px;
  height: 85px;
}
.platform-ios .header {
  padding-top: 25px;
  height: 75px;
}
.platform-ios .has-header {
  padding-top: 75px!important;
}
.description-post {
    padding: 10px;
}
.description-post h1 {
  font-weight: 800;
  font-size: 20px;
  margin-top: 10px;
}
#header-search input {
  background: none;
  border:none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding-right: 90px;
}
.padding-big {
  padding: 20px;
}
.using-filter::after {
  content: ' ';
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: -9px;
  margin-top: 3px;
}
#header-search input::placeholder { 
  color: white;
  opacity: 0.5;
}
.description-post {
  font-size: 15px;
}
.description-post h2 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.description-post p {
  line-height: 1.58;
  letter-spacing: -.004em;
  margin-bottom: 21px;
}
.description-post a {
  text-decoration: underline;
  color: #3f51b5;
}
blockquote{
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 5px 20px 1px 45px;
  border-left: 8px solid #78C0A8;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
  margin-bottom: 10px;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
#msg-primary,
#msg-posts {
  padding-top: 100px;
}
#about-contributor .item {
  line-height: 16px;
}
#about-contributor span.label {
  font-size: 12px;
}
.margin-right {
  margin-right:5px;
}
#menu .list-cover h1 {
  font-size: 23px !important;
}
#menu i {
  font-size: 25px;
}
.language {
  width: 23px;
}
.ptr--ptr {
  z-index: 999 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
@media only screen and (max-width : 385px) {
  .list .item h1, .list .item h2 {
      font-size: 14px;
  }
}
